/* -----------------------------------------------------
 * Import Matugen Colors
 * ----------------------------------------------------- */
@import '../../../../../.config/waybar/colors.css';

@define-color backgroundlight @inverse_primary ;
@define-color backgrounddark @inverse_primary ;
@define-color workspacesbackground1 @inverse_primary ;
@define-color workspacesbackground2 @on_primary_fixed_variant ;
@define-color bordercolor @inverse_primary;
@define-color textcolor1 #FFFFFF;
@define-color textcolor2 #FFFFFF;
@define-color textcolor3 #FFFFFF;
@define-color iconcolor #FFFFFF;

@import '../style.css';
